@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(244, 193, 164);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 600px;
    height: 500px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.697);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    text-align: center;
    margin-top: 30px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 310px;
}

main button{
    width: 300px;
    height: 30px;
    background-color: rgb(196, 128, 128);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(83, 46, 46);
}

main button:hover{
    background-color: rgb(137, 90, 90);
}

form label{
    width: 300px;
}

form label input{
    height: 25px;
    width: 224px;
}

main p{
    display: none;
    background-color: rgb(129, 129, 239);
    width: 400px;
    padding: 10px 0px;
    text-align: center;
}